# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# CSV files (if you don't want to track your data files)
*.csv

# Any other files or directories you want to ignore